---
title: Projects
---
<h1 class="display-1 fw-bold text-center my-5">Projects</h1>

<!-- Projects With Entries -->
<!-- <section class="my-4">
    <div class="row row-cols-2 row-cols-md-2 row-cols-lg-3 gy-2 gx-1">
        {% for project in site.projects %}
        <div class="col">
            <a href="{{project.url}}" class="text-decoration-none">
                <div class="ratio ratio-16x9">
                    <img src="/assets/imgs/project/thumbnails/{{ project.thumbnail }}"
                        class="object-fit-cover h-100 w-100" alt="thumbnail">
                </div>
                <h6 class="pt-2">{{ project.title }}</h6>
            </a>
        </div>
        {% endfor %}
    </div>
</section> -->


{% for project_collection in site.data.project_collections %}
<section class="my-4">
    <h2 class="fw-bold my-2">{{project_collection.title}}</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 gy-3 gx-2 g-lg-3 gy-lg-4">
        
        {% for item in project_collection.items %}
        <!-- Project {{item.name}} -->
        <div class="col d-flex flex-column">
            <!-- Thumbnail -->
            <div class="ratio ratio-16x9">
                <img src="/assets/imgs/project/thumbnails/{{ item.thumbnail }}"
                    class="object-fit-cover h-100 w-100" alt="{{item.title}} thumbnail">
            </div>

            <!-- Textual Information -->
            <p class="fs-6"><span class="fw-bold">{{ item.title }}</span> {% if item.description %}- <em>{{ item.description }}</em>{% endif %}</p>

            <!-- Links -->
            <div class="mt-auto">
                {% for link in item.links %}
                    {% if forloop.first %}
                        <a data-cursor-stick target="_blank" class="btn rounded-pill btn-light btn-sm fw-bolder mb-1"
                            href="{{ link.url }}">{{ link.text }}</a>
                    {% elsif link.icon %}
                        <a data-cursor-stick target="_blank" class="btn rounded-pill btn-light btn-sm fw-bolder mb-1"
                            href="{{ link.url }}">
                            <i class="fa-solid fa-{{ link.icon }}"></i>
                        </a>
                    {% else %}
                        <a data-cursor-stick target="_blank" class="btn rounded-pill btn-outline-light btn-sm fw-bolder border-3 mb-1"
                            href="{{ link.url }}">{{ link.text }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% endfor %}

    </div>
</section>
{% endfor %}
