---
title: Websites
thumbnail: websites.png
complete: false
layout: page
---

<h1 class="display-1">Websites</h1>

<div class="">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 gap-2">
        {% for website in site.data.collections.websites %}
        <div class="col card border border-light rounded border-1 p-0">
            <div class="ratio ratio-4x3">
                <img src="/assets/imgs/website_thumbnails/{{website.thumbnail}}" class="object-fit-cover h-100 w-100"
                    alt="thumbnail">
            </div>
            <div class="card-body d-block">
                <div>
                    <h6 class="">{{ website.title }} <span class="text-muted">• {{ website.date }}</span></h6>
                    <p class="">{{ website.description }}</p>
                </div>

                <div class="mt-auto">
                    {% if website.live_url %}
                    <a data-cursor-stick target="_blank" class="btn rounded-pill btn-outline-secondary"
                        href="{{ website.live_url }}">View Live</a>
                    {% endif %}

                    {% if website.code_url %}
                    <a data-cursor-stick target="_blank" class="btn rounded-pill btn-outline-secondary"
                        href="{{ website.code_url }}">Code</a>
                    {% endif %}
                </div>
                <!-- stack -->
                <div></div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>