<!-- build logs -->
{% if page.build_logs %}
<div class="col-12 col-sm-10 col-lg-7 mx-auto">
    <h5 class="text-left text-sm-center">Build Logs</h5>
    <div class="row">
        {% for build_log in page.build_logs %}
        <a href="#" class="text-decoration-none  fs-5 link-secondary">
            <div class="row justify-content-between">
                <div class="col-auto">
                    <p class="m-0">Log #0</p>
                </div>
                <div class="col-auto">
                    <p class="m-0">00/00/0000</p>
                </div>
            </div>
        </a>
        {% endfor %}
        <!-- {% if page.build_logs.summary %}
            <div class="mx-auto">
                <a href="#" class="text-decoration-none fs-5 link-primary">
                    <p class="m-0 text-center inline">Summary</p>
                </a>
            </div>
            {% endif %} -->
    </div>
</div>
<br>
{% endif %}