<!-- Header -->
<header class="bg-dark">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <!-- Branding -->
            <div class="left">
                <a class="navbar-brand text-white fw-bold" href="/">AKI XU</a>
            </div>

            <!-- Nav Links -->
            <div class="middle">
                <nav class="navbar navbar-expand-lg navbar-dark">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/projects">Projects</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="hobbiesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Hobbies
                                </a>
                                <div class="dropdown-menu" aria-labelledby="hobbiesDropdown">
                                    <a class="dropdown-item" href="https://data.typeracer.com/pit/profile?user=akixuu">Typeracer</a>
                                    <a class="dropdown-item" href="/photo">Photography</a>
                                    <a class="dropdown-item" href="https://www.goodreads.com/user/show/118945939-akixuu">Goodreads</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>

            <!-- Social Icons -->
            <div class="right">
                <a href="https://www.github.com/akixuu" class="text-decoration-none mx-1" target="_blank">
                    <i class="fab fa-github text-white"></i>
                </a>
                <a href="https://www.linkedin.com/in/akixuu" class="text-decoration-none mx-1" target="_blank">
                    <i class="fab fa-linkedin text-white"></i>
                </a>
                <a href="https://www.instagram.com/akixuu" class="text-decoration-none mx-1" target="_blank">
                    <i class="fab fa-instagram text-white"></i>
                </a>
            </div>
        </div>
    </div>
</header>
