@import "variables";
@import "animations";

* {
  transition: 50ms;
}

::selection {
  color: black;
  background: white;
}

html {
  scroll-behavior: smooth;
}

// mouse follower
.mf-cursor-text {
  color: #212529;
  font-weight: 900;
}

.mf-cursor {
  mix-blend-mode: difference;
  color: white;
}

// general
.overflow-hidden {
    overflow:hidden;
    object-fit: cover;
}

.object-fit-cover {
  object-fit: cover;
}

.letters-spaced {
  letter-spacing: 5px;
}



@import "bootstrap/bootstrap";
