<!-- projects -->
<div class="row row-cols-md-2 row-cols-1">
    <!-- featured -->
    <div class="col">
        <div class="ratio ratio-16x9">
            <img src="/assets/imgs/projects.png" class="object-fit-cover h-100 w-100" alt="project thumbnail">
        </div>
        <p class="">Check out some of my projects!</p>
    </div>

    <!-- projects -->
    <div class="col">
        <div class="row row-cols-2 g-1">
            {% for project in site.projects limit:4 %}
            <div class="col">
                <a href="{{project.url}}" class="text-decoration-none">
                    <div class="ratio ratio-16x9">
                        <img src="/assets/imgs/project_imgs/thumbnails/{{ project.thumbnail }}"
                            class="object-fit-cover h-100 w-100" alt="thumbnail">
                    </div>
                    <h6 class="pt-2">{{ project.title }}</h6>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>