---
---
@import "base";

* {
    transition: 50ms;
}

::selection {
    color: black;
    background: white;
}

/* mouse follower */

.mf-cursor-text {
    color: #212529;
    font-weight: 900;
}

.mf-cursor {
    mix-blend-mode: difference;
    color: white;
}

/* custom container media breakpoint */
@media only screen and (min-width: 992px) {
    .container {
        max-width: 65% !important;
    }
}