---
layout: wrapper
---

{% include header.html %}

<h1 class="text-center col-12 col-md-6 mx-auto display-2 mt-4">{{ page.title }}</h1>
<div class="col-11 col-sm-10 col-md-5 mx-auto">
    <div class="ratio ratio-16x9">
        {% if page.video %}
        <iframe class="h-100 w-100" src="https://www.youtube.com/embed/{{ page.video }}?autoplay=1&loop=1&rel=0&start=0&controls=1&color=white&modestbranding=1&frameborder=0" allowfullscreen></iframe>
        {% else %}
        <img class="h-100 w-100 object-fit-cover" src="/assets/imgs/project_thumbnails/{{page.thumbnail}}" alt="thumbnail">
        {% endif %}
    </div>

    <!-- description -->
    {% if page.description %}
    <div class="col-12 col-sm-9 mx-auto mt-4">
        <p class="lead text-start text-sm-center">
        {{ page.description }}
        </p>

        <!-- supplemental links -->
        {% if page.supplemental_links %}
        <div class="col-12 col-sm-9 mx-auto m-0 text-start text-sm-center">
            {% for button in page.supplemental_links %}
            <a data-cursor-stick
                class="btn rounded-pill {% if button.primary %}btn-outline-primary {% else %} btn-outline-secondary{% endif %}"
                href="{{button.link}}">{{button.text}}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% endif %}
    
    <!-- other content -->
    {{ content }}

    <br>
</div>

<br>
{% include footer.html %}